.compose-page {
  height: calc(100vh - 64px);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.compose-page.page-container {
  padding-bottom: 0;
}

.ai-button {
  padding: 2px 12px 2px 8px;
  font-size: 11px;
  font-weight: 400;
  border-radius: 999px; /* ← ROUND CORNERS */
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #004dff, #0457fe, #0d70fc, #00d0ff) border-box;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.ai-button .gradient-text {
  background: linear-gradient(90deg, #004dff, #0457fe, #0d70fc, #00d0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.send-btn {
  font-size: 11px;
  background: var(--gradient-blue);
  color: white;
  border: none;
  padding: 2px 16px 2px 12px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
}

.compose-input {
  font-size: 15px;
  border: none;
  color: var(--dark-font-color);
  outline: none;
  font-weight: 400;
  padding: 4px 10px 10px 10px;
  background-color: var(--background-white);
}

.from-select {
  position: relative;
  border: none;
  background: transparent;
  color: var(--dark-font-color);
  font-size: 15px;
  bottom: 3px;
  width: 100%;
  margin-right: 10px;
}

.files-btn {
  border: 1px solid #a5b0bf77;
  background: white;
  padding: 0px 12px 0px 6px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 3px;
  color: #2b2b2b;
  width: fit-content;
  margin-left: 18px;
  margin-bottom: 5px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  justify-content: space-between;
  padding: 0px 18px 10px 10px;
}

.flex-col input {
  width: 100%;
}

.compose-body {
  width: 100%;
  flex: 1;
  font-size: 16px;
  outline: none;
  resize: none;
  color: var(--dark-font-color);
  background-color: var(--background-white);
  padding: 10px 22px;
  padding-top: 0;
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--faded-grey);
}

.input-with-label {
  display: flex;
  width: 100%;
  height: 30px;
}

.underline-grey {
  border-bottom: 1px solid #a5b0bf70;
}

.fixed-label {
  color: var(--faded-grey);
  font-size: 15px;
  padding-left: 10px;
  position: relative;
  top: 3px;
}

.margin-left-10 {
  margin-left: 10px;
}
