.email-view {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  transition: transform 0.6s cubic-bezier(0.42, 0.7, 0.2, 1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transform: translateY(100%); /* Start off-screen */
  z-index: 3;
}

/* Slide up when visible */
.email-view.visible {
  transform: translateY(0);
}

/* Email Header */
.email-view .email-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-view .email-detail {
  border-bottom: 1px solid #a5b0bf2e;
  padding: 4rem 20px 1rem 20px;
}

.email-view .email-sender-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.email-view .email-body {
  padding: 1rem 20px;
  line-height: 1.3rem;
}

/* Avatar */
.email-view .email-avatar {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  border-radius: 6px;
  font-size: 12px;
}

/* Sender */
.email-view .email-sender {
  font-size: 13px;
  font-weight: 400;
  color: var(--dark-font-color);
}

/* Subject */
.email-view .email-subject {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-font-color);
  margin-top: 4px;
}

/* More Options */
.email-view .email-more-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.email-view .email-tools {
  background-color: #ebf1f9;
  stroke: 1px solid #e2ebff;
  height: 28px;
  width: 100px;
  filter: drop-shadow(0px 3px 3px rgba(0, 1, 1, 0.138));
  border-radius: 30px;
  padding: 4px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-left: 18px;
  margin-top: 10px;
}

.email-view .email-toolbar > button,
.email-view .email-toolbar > div > button {
  background-color: transparent;
  padding: 0;
}

/* Email Toolbar */
.email-view .email-toolbar {
  width: 90%;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background: #fbfcff;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

/* Toolbar Items */
.email-view .email-toolbar-item {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-font-color);
}

/* Toolbar Icons */
.email-view .email-toolbar-item img {
  width: 20px;
  height: 20px;
}

.flex-row-gap-20 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.email-view .small-text {
  font-weight: 400;
}

.email-view .trash-icon {
  width: 47.36px;
}

.email-header-view {
  display: flex;
  justify-content: space-between;
}

.email-time {
  font-size: 12px;
  color: #777;
}
