:root {
  --white: #ffffff;
  --primary-blue: #2d68fe;
  --notifications: #ff472e;
  --green: #22d240;
  --selected-blue: #eff6ff;
  --icons-grey: #71839b;
  --dark-font-color: #324054;
  --faded-grey: #a5b0bf;
  --background-white: #fafafa;
  --favorite: #ffbc13;
  --favorite-opacity: #ffbc1333;

  /* Gradient */
  --gradient-blue: linear-gradient(
    180deg,
    #004dff 0%,
    #0457fe 29%,
    #0d70fc 47%,
    #00d0ff 100%
  );

  --gradient-white: linear-gradient(
    -140deg,
    #e0edff 0%,
    #fdfeff 11%,
    #ffffff 54%,
    #f8fbff 80%,
    #e0edff 100%
  );

  /* Font */
  --font-primary: "Roboto", sans-serif;

  /* Folders colors */
  --folder-green-1: linear-gradient(90deg, #d0fbe3 0%, #75f788 100%);
  --folder-green-2: linear-gradient(90deg, #e9ffc7 0%, #aaff5f 100%);
  --folder-orange: linear-gradient(90deg, #fddfc3 0%, #f7933f 100%);
  --folder-purple: linear-gradient(90deg, #ebd2ff 0%, #c348ff 100%);
  --folder-blue: linear-gradient(90deg, #d2eaff 0%, #5ba5ff 100%);
  --folder-yellow: linear-gradient(90deg, #fffccf 0%, #f3ff4d 100%);
}

/* Import Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: var(--font-primary);
  background-color: var(--background-white);
  color: var(--dark-font-color);
}

h1,
h2,
h3,
h5,
h6 {
  font-family: var(--font-primary);
}

h1 {
  font-size: 22px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.small-text {
  font-size: 10px;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

button {
  border: none;
  width: fit-content;
  padding: 8px 40px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s;
  font-family: var(--font-primary);
}

/* Disable the grey touch feedback effect on mobile */
button,
a {
  -webkit-tap-highlight-color: transparent;
}

button.btn-white {
  color: var(--primary-blue);
  background-color: var(--white);
  font-weight: 400;
}

button.btn-blue {
  color: var(--white);
  background-color: var(--primary-blue);
  font-weight: 400;
}

button.btn-border {
  color: var(--icons-grey);
  background-color: transparent;
  border: 1.5px var(--icons-grey) solid;
  font-weight: 400;
}

button.btn-border-blue {
  color: var(--primary-blue);
  background-color: transparent;
  border: 1.4px var(--primary-blue) solid;
  font-weight: 400;
  background: var(--gradient-white);
}

input,
textarea {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.page-container {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.welcome-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  text-align: center;
  background: var(--gradient-blue);
}

/* Error Popup */
.error-popup {
  width: 80%;
  position: absolute;
  margin: auto;
  top: 20px;
  background: var(--notifications);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 4;
  animation: slideDown 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.small-blue-btn {
  font-size: 12px;
  color: var(--primary-blue);
  font-weight: 400;
}

.space-between-full-wid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px;
}

.bottom-line-grey {
  border-bottom: 1px solid #a5b0bf34;
}

/* Error Animation */
@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
