.signup-container {
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
}

/* Sign-up card */
.signup-card {
  max-width: 400px;
  padding: 40px;
  text-align: center;
}

/* Logo */
.logo-full-white-small {
  width: 80px;
  position: relative;
  top: 50px;
}

/* Title & Subtitle */
.signup-title {
  color: var(--white);
}

.sub-title {
  font-size: 14px;
  color: var(--white);
  margin-bottom: 20px;
}

/* Input Fields */
input {
  font-size: 16px;
  width: 100%;
  padding: 12px 16px;
  margin: 6px 0;
  border: 1px solid #cccccc3c;
  border-radius: 6px;
  box-shadow: inset 0px 2px 6px rgba(45, 52, 254, 0.2);
}

input::placeholder {
  color: var(--faded-grey);
  font-size: 16px;
}

/* Already Registered */
.signup-login {
  font-size: 14px;
  margin-top: 16px;
}

.signup-login a {
  color: var(--white);
}

.btn-create {
  position: relative;
  bottom: 20px;
}

.full-width {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

/*  */
/*  */
/*  */
/* log in page */
/*  */
/*  */
/*  */

/* Login container */
.login-container {
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
}

/* Login card */
.login-card {
  width: 100%;
  padding: 40px;
  text-align: center;
}

/* Log In Button */
.btn-login {
  position: relative;
  bottom: 20px;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 30px;
}

.toggle-password-btn {
  position: absolute;
  right: 0px;
  top: 52%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 16px;
}
.toggle-password-btn img {
  width: 13px;
  height: 13px;
}
