/* Generic popup box */
.popup-box {
  background-color: white;
  border-radius: 16px;
  padding: 50px 20px 34px 20px;
  width: 90%;
  max-width: 360px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Close button */
.popup-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  font-size: 20px;
}

/* Message */
.popup-message {
  font-size: 18px;
  color: #1f2937;
  margin-bottom: 12px;
}

/* Link inside popup */
.popup-link {
  font-size: 14px;
  color: var(--faded-grey);
  text-decoration: underline;
  cursor: pointer;
}

/* Button group */
.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 0 10px;
}

/* Cancel button */
.popup-box .cancel-btn {
  background: var(--white);
  border: 2px solid var(--icons-grey);
  color: var(--icons-grey);
  font-size: 16px;
  padding: 8px 26px;
  border-radius: 8px;
  font-weight: 400;
  width: 100%;
}

/* Confirm button (red) */
.popup-box .confirm-btn {
  font-size: 16px;
  width: 100%;
  background: var(--notifications);
  color: var(--white);
  border: none;
  padding: 8px 26px;
  border-radius: 8px;
  font-weight: 400;
}
