/* Popup box */
.popup-box {
  background-color: white;
  border-radius: 20px;
  padding: 50px 20px 34px 20px;
  width: 90%;
  text-align: center;
  position: relative;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

/* Close button */
.popup-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

/* Link */
.popup-link {
  font-size: 14px;
  color: var(--faded-grey);
  text-decoration: underline;
  cursor: pointer;
}
