.folder-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
}

.folder-card {
  background: white;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px 1px rgba(190, 190, 190, 0.25);
}

.folder-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-start-end-radius: 9px;
  border-start-start-radius: 9px;
  justify-content: end;
  padding: 1px 10px;
}

.color-folder-0 {
  background: var(--folder-green-1);
}
.color-folder-1 {
  background: var(--folder-green-2);
}
.color-folder-2 {
  background: var(--folder-orange);
}
.color-folder-3 {
  background: var(--folder-purple);
}
.color-folder-4 {
  background: var(--folder-blue);
}
.color-folder-5 {
  background: var(--folder-yellow);
}

.body-folder {
  padding: 10px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.folder-subtext {
  font-size: 12px;
  color: var(--icons-grey);
  margin-top: 4px;
}

.folder-count-row {
  color: var(--primary-blue);
  display: flex;
  align-items: center;
  width: fit-content;
}

.folder-dot {
  font-size: 20px;
  cursor: pointer;
}

.add-folder-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--faded-grey);
  border-radius: 12px;
  height: 100px;
  color: var(--faded-grey);
}

.plus-circle {
  font-size: 24px;
}

.add-folder-text {
  font-size: 11px;
}

.num-email-icon {
  margin-right: 4px;
}

.count-num {
  font-size: 11px;
}
