.advanced-search-container {
  height: calc(100vh - 120px);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.advanced-search-container .no-padding {
  padding: 0;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  padding-bottom: 5px;
  font-size: 14px;
}

.last-searched {
  width: 100%;
}

.advanced-search-container .sub-title {
  font-size: 13px;
  margin-bottom: 8px;
  color: var(--dark-font-color);
}

.advanced-search-container .search-btn {
  margin-top: 64px;
  background-color: #3a61ff;
  color: white;
  font-weight: 400;
  padding: 8px 40px;
  border: none;
  border-radius: 6px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.search-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.clear-btn {
  background: transparent;
  padding: 0;
  font-size: 13px;
}

.width-100 {
  width: 100%;
}

.search-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
