/* Main Email Item */
.email-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 18px;
  border-bottom: 1px solid #a5b0bf2e;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  background-color: var(--white);
}

/* Apply background when starred */
.email-item.starred {
  background-color: var(--favorite-opacity);
}

/* Apply opacity when email is read */
.email-item.read {
  opacity: 0.7;
  background-color: rgb(243, 243, 243);
}

.email-item.read .email-sender,
.email-item.read .email-subject {
  font-weight: 400;
}

/* Sender Name + Avatar */
.email-item .email-sender-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Header: Sender + Time */
.email-item .email-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left Section */
.email-item .email-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Avatar */
.email-item .email-avatar {
  min-width: 24px;
  width: 24px;
  min-height: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  border-radius: 6px;
  font-size: 12px;
}

/* Email Content: Sender, Subject, Preview */
.email-item .email-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Sender */
.email-item .email-sender {
  font-weight: 500;
  font-size: 15px;
  color: var(--dark-font-color);
}

/* Subject */
.email-item .email-subject {
  font-weight: 500;
  font-size: 13px;
  color: var(--dark-font-color);
}

/* Email Preview */
.email-item .email-preview {
  font-size: 11px;
  color: var(--icons-grey);
  font-weight: 400;
}

/* Email Body */
.email-item .email-body {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

/* Right Section: Time & Star Icon */
.email-item .email-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Time */
.email-item .email-time {
  font-size: 12px;
  color: var(--icons-grey);
}

/* Tags Section */
.email-item .email-tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 4px;
}

/* Individual Tag */
.email-item .email-tag {
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
}

/* Footer: Tags + Star */
.email-item .email-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Star Icon */
.email-item .email-star {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
