.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 12px 7px 12px;
  background-color: var(--white);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
}

/* Icon buttons */
.icon-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 8px;
}
